    <!-- Contact Section -->
    <section id="nihongo" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Nippoticaへようこそ</h2>
                <p>Nippoticaでは、次世代の科学ベースのスタートアップを育成することに注力しており、ディープテクノロジーのイノベーションに強く重点を置いています。私たちの目標は、これらのスタートアップを初期段階から成長まで導き、支援することです。</p>
                <p>Nippoticaは、起業家が成功するために必要なツールやつながりを提供する包括的なエコシステムを提供しています。これには、資金提供、戦略的アドバイス、トップタレントへのアクセス、強力なサポートネットワークが含まれます。</p>
                <p>Nippoticaのプラットフォームは、さまざまな起業家に開かれており、それぞれの市場で成功するための支援を行っています。</p>
                <p>Nippoticaのグローバルな業界専門家ネットワークと、主要な研究機関とのパートナーシップを通じて、私たちのスタートアップがディープテクノロジーのイノベーションの最前線に立ち続け、マーケットの課題を自信を持って乗り越えられるようにしています。</p>
                <p>代表取締役のプロフィール:</p>
 <p><a href="https://www.linkedin.com/in/kambiz-homayounfar-b379a01ba/">ホマユンファ カンビズ</a></p>
 <p><a href="https://www.linkedin.com/in/daijiro-nishi-b4b55445/">西 大治郎</a></p>
            </div>
        </div>
    </section>